@font-face {
    font-family: harryPFont;
    src: url("./assets/fonts/harry-p-font/HarryP-MVZ6w.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300&display=swap');

/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

:root {
    --background-color: #10141b;
    --primary-color: #1a120b;
    --secondary-color: #3c2a21;
    --tertiary-color: #d5cea3;
    --quaternary-color: #e5e5cb;
    --accent-color: #e6713b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
}

#root {
    width: 100%;
}

a {
    text-decoration: none;
}

.btn {
    color: var(--tertiary-color);
}

.btn:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

.error {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--quaternary-color);
    height: 80vh;
}

/* Authentication Page Start */

.Authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: transparent;
    text-align: center;
    border: 0;
}

.card-header {
    border: 0;
    color: var(--tertiary-color);
    font-family: harryPFont;
    font-size: 2.5rem;
}

.input-text {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.input-box {
    color: var(--secondary-color);
}

.inputBox:focus,
.inputBox:hover {
    background: transparent;
}

form>p {
    color: var(--quaternary-color);
}


/* Authentication Page end */

/* Navbar Page start */

.navbar {
    background-color: var(--tertiary-color) !important;
    padding: 0.8rem 0;
}

.navbar-brand {
    font-family: harryPFont;
}

#logo {
    width: 5rem;
    padding-right: 1rem;
}

/* Navbar Page end */

/* Home page starts */

.Jumbotron .jumbotron {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 110px 0;
}

.Jumbotron .jumbotron-heading {
    font-family: harryPFont;
    font-size: 4rem;
    color: var(--quaternary-color);
}

.Jumbotron .jumbotron-details {
    font-size: 1.8rem;
    font-family: 'PT Serif', serif;
    color: var(--quaternary-color) !important;
}

/* Home page ends */

/* Footer starts */

.Footer {
    background-color: var(--tertiary-color);
}

.nav-link {
    color: var(--secondary-color) !important;
}

.footer-desc {
    color: var(--secondary-color) !important;
}


/* Footer ends */

/* Hero section starts */

.image-container {
    padding: 0;
    max-width: 500px;
    box-shadow: 0px 0px 15px var(--tertiary-color);
    border: 5px solid var(--quaternary-color);
}

.image-container img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.hero-heading {
    color: var(--tertiary-color) !important;
    font-family: 'PT Serif', serif;
}

.hero-para {
    color: var(--quaternary-color);
}

/* Hero section ends */


/* Card section starts */

.card {
    border: 0.3em solid var(--tertiary-color);
}

/* Card section ends */


/* Carousel section starts */

.c-img {
    max-height: 70vh;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

/* Carousel section ends */

/* TravelPackage section starts */

.TravelPackage h2 {
    font-family: 'PT Serif', serif;
    color: var(--tertiary-color);
    font-family: harryPFont;
    font-size: 5rem;
}

.TravelPackage p {
    font-family: 'PT Serif', serif;
    color: var(--tertiary-color);
    font-size: 1.5rem;
}

.TravelPackage h3 {
    font-family: 'PT Serif', serif;
    color: var(--quaternary-color);
    font-size: 1.8rem;
}

.TravelPackage .details {
    color: var(--quaternary-color);
    font-size: 1.2rem;
}

.itinerary-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.itinerary-item:not(:last-child) {
    border-bottom: 2px solid var(--tertiary-color);
}

.itinerary-container {
    border: 2px solid var(--tertiary-color);
    border-radius: 1rem;
    box-shadow: 0px 0px 7px var(--tertiary-color);
}

.day-number {
    flex-basis: 80px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--tertiary-color);
}

@media (max-width: 767px) {
    .itinerary-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


/* TravelPackage section ends */

/* Booking starts */

.Booking {
    font-family: 'PT Serif', serif;
}

.Booking label {
    font-size: 1.2rem;
    color: var(--tertiary-color);
}

.Booking h3, h4 {
    color: var(--tertiary-color);
    font-size: 1.5rem;
}

.Booking p {
    color: var(--tertiary-color);
    font-size: 1.5rem;
}

.Booking h3 {
    font-family: harryPFont;
    font-size: 3rem;
}

.Booking input, select {
    background-color: var(--tertiary-color);
    width: 40%;
    height: 2.5rem;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
}

/* Booking ends */