@font-face {
    font-family: harryPFont;
    src: url("../fonts/harry-p-font/HarryP-MVZ6w.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300&display=swap');

/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

:root {
    --background-color: #10141b;
    --primary-color: #1a120b;
    --secondary-color: #3c2a21;
    --tertiary-color: #d5cea3;
    --quaternary-color: #e5e5cb;
    --accent-color: #e6713b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
}

#root {
    width: 100%;
}

.harry {
    font-family: harryPFont;
    font-size: 4rem;
    color: var(--tertiary-color);
}

a {
    text-decoration: none;
}

.btn {
    color: var(--tertiary-color);
}

.btn:hover {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

/* Authentication Page Start */

.Authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Authentication .card {
    background-color: transparent;
    text-align: center;
    border: 0;
}

.card-header {
    border: 0;
    color: var(--tertiary-color);
    font-family: harryPFont;
    font-size: 2.5rem;
}

.input-text {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.input-box {
    color: var(--secondary-color);
}

.inputBox:focus,
.inputBox:hover {
    background: transparent;
}

form>p {
    color: var(--quaternary-color);
}


/* Authentication Page end */

/* Navbar Page start */

.Navbar .navbar {
    background-color: var(--tertiary-color) !important;
    padding: 0.8rem 0;
}

.Navbar .navbar-brand {
    font-family: harryPFont;
}

.Navbar #logo {
    width: 5rem;
    padding-right: 1rem;
}

.Navbar .dropdown-menu {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.Navbar .profile-img {
    border-radius: 50%;
    height: 2rem;
}

/* Navbar Page end */

/* Home page starts */

.Jumbotron .jumbotron {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 110px 0;
}

.jumbotron-heading {
    font-family: harryPFont;
    font-size: 4rem;
    color: var(--quaternary-color);
}

.jumbotron-details {
    font-size: 1.8rem;
    font-family: 'PT Serif', serif;
    color: var(--quaternary-color) !important;
}

/* Home page ends */

/* Footer starts */

.Footer {
    background-color: var(--tertiary-color);
}

.Footer .nav-link {
    color: var(--secondary-color) !important;
}

.Footer .footer-desc {
    color: var(--secondary-color) !important;
}


/* Footer ends */

/* Hero section starts */

.Hero .image-container {
    padding: 0;
    max-width: 500px;
    box-shadow: 0px 0px 15px var(--tertiary-color);
    border: 5px solid var(--quaternary-color);
}

.Hero .image-container img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.Hero .hero-heading {
    color: var(--tertiary-color) !important;
    font-family: 'PT Serif', serif;
}

.Hero .hero-para {
    color: var(--quaternary-color);
}

/* Hero section ends */


/* Card section starts */


.Card .card {
    border: 0.3em solid var(--tertiary-color);
    height: 35rem;
}

/* Card section ends */


/* Carousel section starts */

.Carousel .carousel-item {
    background-size: cover;
}

.Carousel .carousel-h {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    opacity: 0.85;
    font-family: 'PT Serif', serif;
    color: var(--quaternary-color);
    background-color: var(--background-color);
}



/* Carousel section ends */


/* Add Travel Package page starts */

.TravelPackageForm label {
    color: var(--quaternary-color);
    font-size: 1.2rem;
}

.TravelPackageForm .day-no {
    color: var(--tertiary-color);
    font-weight: bold;
    background-color: var(--background-color);
}

.TravelPackageForm .package-btn {
    background-color: var(--accent-color);
    border: var(--secondary-color);
}

.TravelPackageForm input {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Add Travel Package page ends */


/* Profile starts */

.Profile .card-body {
    /* font-family: 'PT Serif', serif; */
    font-family: harryPFont;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: var(--tertiary-color);
}

.Profile .card-title {
    font-size: 3rem;
}

.Profile img {
    margin: auto;
    margin-bottom: 2rem;
}

.Profile .card {
    border: 0;
}

/* Profile ends */